@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+B&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// fonts
$profileFont: 'Noto Sans Linear B', sans-serif;
$socialMediaFont: 'Noto Sans Mono', monospace;
$contentFont: 'Roboto', sans-serif;
$elemenFont :'Recursive', sans-serif;
$appName : 'Ubuntu', sans-serif;

// colors
$baackground-dark : #110B2B;
$baackground-dark2 :#030021;
$baackground-dark3 :#19113B;
$background-light : #D9D9D9;
$background-light2 : #BBBBBB;
$background-light3 : #D9D9D9;

//utility
$radius: .4rem;
